#homework{
    position: relative;
    margin-left: 0cm;
    margin-top: 0cm;
    width: 100%;
    float: left;
}
#member{
    float: right;
    position: relative;
    margin-right: 0cm;
    margin-top: 0cm;
}
*{
    background-color: lightblue;
}   